<div class="fbt-snippet">
<p>You may also like...</p>
<div id="boost-sd-widget-productpage-{{product.metafields.custom.boost_fbt | default: 'default-id'}}"></div>
</div>

<style>
.boost-sd__recommendation-title{
  display:none;
}
.fbt-snippet{
  padding:40px 20px;
  text-align: center;
}
.fbt-snippet p{
    font-size: 16px;
    text-transform: uppercase;
    font-style: normal;
    text-align:center;
}
</style>