
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-570894131123979136.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-570894131123979136.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-570894131123979136.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-570894131123979136.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-570894131123979136.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-570894131123979136.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-570894131123979136.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-570894131123979136.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-570894131123979136.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-570894131123979136.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-570894131123979136.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-570894131123979136.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-570894131123979136.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-570894131123979136.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-570894131123979136.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-570894131123979136.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-570894131123979136.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-570894131123979136.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-570894131123979136.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-570894131123979136.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-570894131123979136.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-570894131123979136.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-570894131123979136.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-570894131123979136.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-570894131123979136.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-570894131123979136.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-570894131123979136.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-570894131123979136.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-570894131123979136.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-570894131123979136.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-570894131123979136.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-570894131123979136.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-570894131123979136.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-570894131123979136.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-570894131123979136.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-570894131123979136.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-570894131123979136.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-570894131123979136.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-570894131123979136.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-570894131123979136.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-570894131123979136.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-570894131123979136.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-570894131123979136.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-570894131123979136.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-570894131123979136.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-570894131123979136.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-570894131123979136.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-570894131123979136.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-570894131123979136.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-570894131123979136 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-570894131123979136 .gp-relative{position:relative}.gps-570894131123979136 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-570894131123979136 .gp-mb-0{margin-bottom:0}.gps-570894131123979136 .gp-flex{display:flex}.gps-570894131123979136 .gp-grid{display:grid}.gps-570894131123979136 .\!gp-hidden{display:none!important}.gps-570894131123979136 .gp-hidden{display:none}.gps-570894131123979136 .gp-max-w-full{max-width:100%}.gps-570894131123979136 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-570894131123979136 .gp-flex-col{flex-direction:column}.gps-570894131123979136 .gp-gap-y-0{row-gap:0}.gps-570894131123979136 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-570894131123979136 .gp-duration-200{transition-duration:.2s}.gps-570894131123979136 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-570894131123979136 .tablet\:\!gp-hidden{display:none!important}.gps-570894131123979136 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-570894131123979136 .mobile\:\!gp-hidden{display:none!important}.gps-570894131123979136 .mobile\:gp-hidden{display:none}}.gps-570894131123979136 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-570894131123979136 .\[\&_p\]\:gp-inline p{display:inline}.gps-570894131123979136 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-570894131123979136 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gCqygHOB0a" data-id="gCqygHOB0a"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:40px;--pb-mobile:0px;--d:none;--d-tablet:none;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCqygHOB0a gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gArO-6DzaC gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gH85XntnSr" data-id="gH85XntnSr"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gH85XntnSr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g1Uvvg10XN gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="glGsY_rpw9">
    <div
      parentTag="Col"
        class="glGsY_rpw9 "
        style="--ta:left;--d:none;--d-tablet:none;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#fee6e6;word-break:break-word;--bgc:#d63837;--bgc-mobile:#000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;overflow:hidden"
        >{{ section.settings.gglGsY_rpw9_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    "presets": [{ "name": "Mobile Deals you'll love" }],
    "name": "Mobile Deals you'll love",
    "tag": "section",
    "class": "gps-570894131123979136 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/icklebubba-test/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=570894131123979136)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gglGsY_rpw9_text","label":"gglGsY_rpw9_text","default":"<p>Bundle and save!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
