

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-513779158208218138.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-513779158208218138.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-513779158208218138.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-513779158208218138.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-513779158208218138.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-513779158208218138.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-513779158208218138.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-513779158208218138.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-513779158208218138.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-513779158208218138.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-513779158208218138.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-513779158208218138.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-513779158208218138.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-513779158208218138.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-513779158208218138.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-513779158208218138.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-513779158208218138.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-513779158208218138.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-513779158208218138.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-513779158208218138.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-513779158208218138.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-513779158208218138.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-513779158208218138.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-513779158208218138.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-513779158208218138.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-513779158208218138.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-513779158208218138.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-513779158208218138.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-513779158208218138.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-513779158208218138.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-513779158208218138.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-513779158208218138.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-513779158208218138.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-513779158208218138.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-513779158208218138.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-513779158208218138.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-513779158208218138.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-513779158208218138.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-513779158208218138.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-513779158208218138.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-513779158208218138 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-513779158208218138 .gp-relative{position:relative}.gps-513779158208218138 .gp-z-1{z-index:1}.gps-513779158208218138 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-513779158208218138 .gp-mb-0{margin-bottom:0}.gps-513779158208218138 .gp-flex{display:flex}.gps-513779158208218138 .gp-inline-flex{display:inline-flex}.gps-513779158208218138 .gp-grid{display:grid}.gps-513779158208218138 .\!gp-hidden{display:none!important}.gps-513779158208218138 .gp-hidden{display:none}.gps-513779158208218138 .gp-h-full{height:100%}.gps-513779158208218138 .gp-max-w-full{max-width:100%}.gps-513779158208218138 .gp-flex-col{flex-direction:column}.gps-513779158208218138 .gp-items-center{align-items:center}.gps-513779158208218138 .gp-justify-center{justify-content:center}.gps-513779158208218138 .gp-gap-y-0{row-gap:0}.gps-513779158208218138 .gp-overflow-hidden{overflow:hidden}.gps-513779158208218138 .gp-break-words{overflow-wrap:break-word}.gps-513779158208218138 .gp-rounded-none{border-radius:0}.gps-513779158208218138 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-513779158208218138 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-513779158208218138 .gp-no-underline{text-decoration-line:none}.gps-513779158208218138 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-513779158208218138 .gp-duration-200{transition-duration:.2s}.gps-513779158208218138 .gp-duration-300{transition-duration:.3s}.gps-513779158208218138 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-513779158208218138 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-513779158208218138 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-513779158208218138 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-513779158208218138 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-513779158208218138 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-513779158208218138 .tablet\:\!gp-hidden{display:none!important}.gps-513779158208218138 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-513779158208218138 .mobile\:\!gp-hidden{display:none!important}.gps-513779158208218138 .mobile\:gp-hidden{display:none}}.gps-513779158208218138 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-513779158208218138 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="g6ZT37FYco" data-id="g6ZT37FYco"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6ZT37FYco gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gFLpwPMco4 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:center"
    
  >
    <style>
    .g16i0VOxms.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .g16i0VOxms:hover::before {
      
      
    }

    .g16i0VOxms:hover .gp-button-icon {
      color: undefined;
    }

     .g16i0VOxms .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g16i0VOxms:hover .gp-button-price {
      color: undefined;
    }

    .g16i0VOxms .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g16i0VOxms .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g16i0VOxms:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      href="icklebubba.com" target="_self" type="button" data-id="g16i0VOxms" aria-label="Back home"
      
      data-state="idle"
      class="g16i0VOxms gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-bg-g-brand hover:gp-bg-g-highlight gp-text-g-text-3 gp-g-paragraph-1"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ section.settings.gg16i0VOxms_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

      <style id="custom-css-g16i0VOxms">
        button.g16i0VOxms {

}
      </style>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-513779158208218138 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/icklebubba-test/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=511483945099985952&sectionId=513779158208218138)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg16i0VOxms_label","label":"gg16i0VOxms_label","default":"Back home"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
