

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-511490089772123064.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-511490089772123064.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-511490089772123064.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-511490089772123064.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-511490089772123064.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-511490089772123064.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-511490089772123064.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-511490089772123064.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-511490089772123064.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-511490089772123064.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-511490089772123064.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-511490089772123064.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-511490089772123064.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-511490089772123064.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-511490089772123064.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-511490089772123064.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-511490089772123064.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-511490089772123064.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-511490089772123064.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-511490089772123064.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-511490089772123064.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-511490089772123064.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-511490089772123064.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-511490089772123064.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-511490089772123064.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-511490089772123064.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-511490089772123064.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-511490089772123064.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-511490089772123064.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-511490089772123064.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-511490089772123064.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-511490089772123064.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-511490089772123064.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-511490089772123064.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-511490089772123064.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-511490089772123064.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-511490089772123064.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-511490089772123064.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-511490089772123064.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-511490089772123064.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-511490089772123064.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-511490089772123064.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-511490089772123064.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-511490089772123064.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-511490089772123064.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-511490089772123064.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-511490089772123064.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-511490089772123064.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-511490089772123064.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-511490089772123064.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-511490089772123064.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-511490089772123064.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-511490089772123064.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-511490089772123064.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-511490089772123064.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-511490089772123064.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-511490089772123064.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-511490089772123064 .gp-relative{position:relative}.gps-511490089772123064 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511490089772123064 .gp-mb-0{margin-bottom:0}.gps-511490089772123064 .\!gp-inline{display:inline!important}.gps-511490089772123064 .gp-flex{display:flex}.gps-511490089772123064 .gp-grid{display:grid}.gps-511490089772123064 .\!gp-hidden{display:none!important}.gps-511490089772123064 .gp-hidden{display:none}.gps-511490089772123064 .gp-h-full{height:100%}.gps-511490089772123064 .gp-w-full{width:100%}.gps-511490089772123064 .gp-max-w-full{max-width:100%}.gps-511490089772123064 .gp-flex-col{flex-direction:column}.gps-511490089772123064 .gp-gap-y-0{row-gap:0}.gps-511490089772123064 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511490089772123064 .gp-duration-200{transition-duration:.2s}.gps-511490089772123064 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-511490089772123064 .tablet\:\!gp-hidden{display:none!important}.gps-511490089772123064 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-511490089772123064 .mobile\:\!gp-hidden{display:none!important}.gps-511490089772123064 .mobile\:gp-hidden{display:none}}.gps-511490089772123064 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-511490089772123064 .\[\&_p\]\:gp-inline p{display:inline}.gps-511490089772123064 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-511490089772123064 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gG3SD6VpPg" data-id="gG3SD6VpPg"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:1px;--pb-mobile:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#E7F6F1;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gG3SD6VpPg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gll3roE5aX gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gYPNpyjF1z" data-id="gYPNpyjF1z"
        style="--mb:var(--g-s-l);--d:none;--d-tablet:none;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYPNpyjF1z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gXfJjI7XwN gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gWVPEIM3nF">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gWVPEIM3nF "
        style="--ta:left;--mt:var(--g-s-l);--mt-mobile:var(--g-s-l);--ml-mobile:var(--g-s-s);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:90%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:17px;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>What is the difference between R44 and R129 car seats?</p></div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gWVPEIM3nF">
        .gWVPEIM3nF {

}
.gWVPEIM3nF p {

}
      </style>
    
  <gp-text data-id="gSbzfe8TaN">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gSbzfe8TaN "
        style="--ta:left;--pt:var(--g-s-s);--ml-mobile:45px;--pt-mobile:var(--g-s-s);--pb-mobile:15px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:90%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:300;--size:16px;--size-tablet:16px;--size-mobile:17px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Both are approved regulations (the "R" stands for regulation) that car seats can be sold under in the UK. R129 is also known as "i-Size" and is the newest regulation that includes side-impact testing, improved head and neck protection, and extended rearward facing. R44 is an older regulation, but still requires products to go through rigorous testing and safety standards. R44 is being phased out in the EU, but not in the UK. We offer car seats following both regulations to give our customers a wide range to choose from, for all budgets.</p></div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gSbzfe8TaN">
        .gSbzfe8TaN {

}
.gSbzfe8TaN p {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g7U9_wftgJ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gdxYGa8T2K"
    role="presentation"
    class="gp-group/image gdxYGa8T2K"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_467963313750279047-a63db68d-1a8b-4c58-91e5-06c863783670.png" | file_url }}" data-srcset="{{ 'gempages_467963313750279047-a63db68d-1a8b-4c58-91e5-06c863783670.png' | file_img_url: '768x' }} 768w, {{ 'gempages_467963313750279047-a63db68d-1a8b-4c58-91e5-06c863783670.png' | file_img_url: '1024x' }} 1024w, {{ 'gempages_467963313750279047-a63db68d-1a8b-4c58-91e5-06c863783670.png' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTE2IiBoZWlnaHQ9IjQxNyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTE2LTQxNyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTE2IiBoZWlnaHQ9IjQxNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTE2IiBoZWlnaHQ9IjQxNyIgZmlsbD0idXJsKCNnLTkxNi00MTcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05MTYiIHRvPSI5MTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="916" height="417" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:916/417;--aspect-tablet:916/417;--aspect-mobile:916/417;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
      <style id="custom-css-gdxYGa8T2K">
        .gdxYGa8T2K {

}
.gdxYGa8T2K > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 0",
    "tag": "section",
    "class": "gps-511490089772123064 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/icklebubba-test/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=511487164664513568&sectionId=511490089772123064)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
